<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/lpocrud/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
        {% endfor %}

        {% block body %}{% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('bundles/lpocrud/vendor/jquery-2.1.1.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bundles/lpocrud/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
